        <!-- build:css /dist/css/screen.css -->
        <link rel="stylesheet" href="/bundles/framework/css/structure.css">
        <link rel="stylesheet" href="/bundles/framework/css/body.css">
        <link rel="stylesheet" href="/css/screen.css">
        <!-- endbuild -->
        <!-- build:css /dist/css/print.css -->
        <link rel="stylesheet" href="/css/print.css" media="print">
        <!-- endbuild -->
        <!-- build:js /dist/scripts/vendor/izr.js -->
        <script src="/bower_components/modernizr/modernizr.js"></script>
        <script src="/bower_components/detectizr/detectizr.js"></script>
        <script>
          Modernizr.Detectizr.detect({detectScreen:false});
        </script>
        <!-- endbuild -->